<?xml version="1.0" encoding="utf-8"?>
<manifest package="cs349.uwaterloo.ca.a4"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Simon's Game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cs349.uwaterloo.ca.a4.MainActivity">
        </activity>
        <activity android:name="cs349.uwaterloo.ca.a4.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cs349.uwaterloo.ca.a4.SecondActivity">
        </activity>
    </application>

</manifest>